name "os_lab2"
tabs {
    tab {
        position 0
        name "code"
        active false
        panes_to_hide 0
        is_fullscreen_active false
        is_sync_panes_active false
        are_floating_panes_visible false
        viewport_rows 46
        viewport_columns 205
        display_area_columns 205
        display_area_rows 48
        is_swap_layout_dirty false
        selectable_tiled_panes_count 1
        selectable_floating_panes_count 0
    }
    tab {
        position 1
        name "logs"
        active false
        panes_to_hide 0
        is_fullscreen_active false
        is_sync_panes_active false
        are_floating_panes_visible false
        viewport_rows 46
        viewport_columns 205
        display_area_columns 205
        display_area_rows 48
        is_swap_layout_dirty false
        selectable_tiled_panes_count 1
        selectable_floating_panes_count 0
    }
    tab {
        position 2
        name "tests"
        active false
        panes_to_hide 0
        is_fullscreen_active false
        is_sync_panes_active false
        are_floating_panes_visible false
        viewport_rows 46
        viewport_columns 205
        display_area_columns 205
        display_area_rows 48
        is_swap_layout_dirty false
        selectable_tiled_panes_count 1
        selectable_floating_panes_count 0
    }
    tab {
        position 3
        name "run"
        active false
        panes_to_hide 0
        is_fullscreen_active false
        is_sync_panes_active false
        are_floating_panes_visible false
        viewport_rows 46
        viewport_columns 205
        display_area_columns 205
        display_area_rows 48
        is_swap_layout_dirty false
        selectable_tiled_panes_count 1
        selectable_floating_panes_count 0
    }
}
panes {
    pane {
        id 1
        is_plugin false
        is_focused true
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "~/D/P/p/O/lab2"
        exited false
        is_held false
        pane_x 0
        pane_content_x 1
        pane_y 1
        pane_content_y 2
        pane_rows 46
        pane_content_rows 44
        pane_columns 205
        pane_content_columns 203
        cursor_coordinates_in_pane 6 2
        is_selectable true
        tab_position 1
    }
    pane {
        id 3
        is_plugin true
        is_focused false
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "tab-bar"
        exited false
        is_held false
        pane_x 0
        pane_content_x 0
        pane_y 0
        pane_content_y 0
        pane_rows 1
        pane_content_rows 1
        pane_columns 205
        pane_content_columns 205
        plugin_url "tab-bar"
        is_selectable false
        tab_position 1
    }
    pane {
        id 4
        is_plugin true
        is_focused false
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "status-bar"
        exited false
        is_held false
        pane_x 0
        pane_content_x 0
        pane_y 47
        pane_content_y 47
        pane_rows 1
        pane_content_rows 1
        pane_columns 205
        pane_content_columns 205
        plugin_url "status-bar"
        is_selectable false
        tab_position 1
    }
    pane {
        id 2
        is_plugin false
        is_focused true
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "~/D/P/p/O/lab2"
        exited false
        is_held false
        pane_x 0
        pane_content_x 1
        pane_y 1
        pane_content_y 2
        pane_rows 46
        pane_content_rows 44
        pane_columns 205
        pane_content_columns 203
        cursor_coordinates_in_pane 6 2
        is_selectable true
        tab_position 2
    }
    pane {
        id 5
        is_plugin true
        is_focused false
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "tab-bar"
        exited false
        is_held false
        pane_x 0
        pane_content_x 0
        pane_y 0
        pane_content_y 0
        pane_rows 1
        pane_content_rows 1
        pane_columns 205
        pane_content_columns 205
        plugin_url "tab-bar"
        is_selectable false
        tab_position 2
    }
    pane {
        id 6
        is_plugin true
        is_focused false
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "status-bar"
        exited false
        is_held false
        pane_x 0
        pane_content_x 0
        pane_y 47
        pane_content_y 47
        pane_rows 1
        pane_content_rows 1
        pane_columns 205
        pane_content_columns 205
        plugin_url "status-bar"
        is_selectable false
        tab_position 2
    }
    pane {
        id 0
        is_plugin false
        is_focused true
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "~/D/P/p/O/lab2"
        exited false
        is_held false
        pane_x 0
        pane_content_x 1
        pane_y 1
        pane_content_y 2
        pane_rows 46
        pane_content_rows 44
        pane_columns 205
        pane_content_columns 203
        cursor_coordinates_in_pane 6 2
        is_selectable true
        tab_position 0
    }
    pane {
        id 0
        is_plugin true
        is_focused false
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "tab-bar"
        exited false
        is_held false
        pane_x 0
        pane_content_x 0
        pane_y 0
        pane_content_y 0
        pane_rows 1
        pane_content_rows 1
        pane_columns 205
        pane_content_columns 205
        plugin_url "tab-bar"
        is_selectable false
        tab_position 0
    }
    pane {
        id 1
        is_plugin true
        is_focused false
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "status-bar"
        exited false
        is_held false
        pane_x 0
        pane_content_x 0
        pane_y 47
        pane_content_y 47
        pane_rows 1
        pane_content_rows 1
        pane_columns 205
        pane_content_columns 205
        plugin_url "status-bar"
        is_selectable false
        tab_position 0
    }
    pane {
        id 9
        is_plugin true
        is_focused false
        is_fullscreen false
        is_floating false
        is_suppressed true
        title "(/home/red/Documents/Politex/projects/OS/lab2) - session-manager"
        exited false
        is_held false
        pane_x 51
        pane_content_x 52
        pane_y 13
        pane_content_y 14
        pane_rows 23
        pane_content_rows 21
        pane_columns 102
        pane_content_columns 100
        plugin_url "session-manager"
        is_selectable true
        tab_position 0
    }
    pane {
        id 3
        is_plugin false
        is_focused true
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "~/D/P/p/O/lab2"
        exited false
        is_held false
        pane_x 0
        pane_content_x 1
        pane_y 1
        pane_content_y 2
        pane_rows 46
        pane_content_rows 44
        pane_columns 205
        pane_content_columns 203
        cursor_coordinates_in_pane 6 2
        is_selectable true
        tab_position 3
    }
    pane {
        id 7
        is_plugin true
        is_focused false
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "tab-bar"
        exited false
        is_held false
        pane_x 0
        pane_content_x 0
        pane_y 0
        pane_content_y 0
        pane_rows 1
        pane_content_rows 1
        pane_columns 205
        pane_content_columns 205
        plugin_url "tab-bar"
        is_selectable false
        tab_position 3
    }
    pane {
        id 8
        is_plugin true
        is_focused false
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "status-bar"
        exited false
        is_held false
        pane_x 0
        pane_content_x 0
        pane_y 47
        pane_content_y 47
        pane_rows 1
        pane_content_rows 1
        pane_columns 205
        pane_content_columns 205
        plugin_url "status-bar"
        is_selectable false
        tab_position 3
    }
}
connected_clients 0
web_clients_allowed false
web_client_count 0
available_layouts {
    default source="built-in"
    classic source="built-in"
    compact source="built-in"
    disable-status-bar source="built-in"
    strider source="built-in"
}
tab_history {
}
