name "os_lab1"
tabs {
    tab {
        position 0
        name "asm"
        active false
        panes_to_hide 0
        is_fullscreen_active false
        is_sync_panes_active false
        are_floating_panes_visible false
        viewport_rows 60
        viewport_columns 127
        display_area_columns 127
        display_area_rows 62
        is_swap_layout_dirty false
        selectable_tiled_panes_count 1
        selectable_floating_panes_count 0
    }
    tab {
        position 1
        name "qemu"
        active false
        panes_to_hide 0
        is_fullscreen_active false
        is_sync_panes_active false
        are_floating_panes_visible false
        viewport_rows 60
        viewport_columns 127
        display_area_columns 127
        display_area_rows 62
        is_swap_layout_dirty false
        selectable_tiled_panes_count 1
        selectable_floating_panes_count 0
    }
    tab {
        position 2
        name "otchet"
        active false
        panes_to_hide 0
        is_fullscreen_active false
        is_sync_panes_active false
        are_floating_panes_visible false
        viewport_rows 60
        viewport_columns 127
        display_area_columns 127
        display_area_rows 62
        is_swap_layout_dirty false
        selectable_tiled_panes_count 1
        selectable_floating_panes_count 0
    }
}
panes {
    pane {
        id 0
        is_plugin false
        is_focused true
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "~/Documents/Politex/projects/OS/lab1: nvim - nvim"
        exited false
        is_held false
        pane_x 0
        pane_content_x 1
        pane_y 1
        pane_content_y 2
        pane_rows 60
        pane_content_rows 58
        pane_columns 127
        pane_content_columns 125
        cursor_coordinates_in_pane 5 2
        terminal_command "/nix/store/lpvd9jcq8k518mrafh2srw9a41cdavyd-neovim-unwrapped-0.11.6/bin/nvim --cmd lua vim.g.loaded_node_provider=0;vim.g.loaded_perl_provider=0;vim.g.loaded_python_provider=0;vim.g.python3_host_prog='/nix/store/a3ncnk80dqqcnv3jvhdky8ydbabwg7xp-neovim-0.11.6/bin/nvim-python3';vim.g.loaded_ruby_provider=0"
        is_selectable true
        tab_position 0
    }
    pane {
        id 0
        is_plugin true
        is_focused false
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "zellij:tab-bar"
        exited false
        is_held false
        pane_x 0
        pane_content_x 0
        pane_y 0
        pane_content_y 0
        pane_rows 1
        pane_content_rows 1
        pane_columns 127
        pane_content_columns 127
        plugin_url "zellij:tab-bar"
        is_selectable false
        tab_position 0
    }
    pane {
        id 1
        is_plugin true
        is_focused false
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "zellij:status-bar"
        exited false
        is_held false
        pane_x 0
        pane_content_x 0
        pane_y 61
        pane_content_y 61
        pane_rows 1
        pane_content_rows 1
        pane_columns 127
        pane_content_columns 127
        plugin_url "zellij:status-bar"
        is_selectable false
        tab_position 0
    }
    pane {
        id 1
        is_plugin false
        is_focused true
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "~/Documents/Politex/projects/OS/lab1 - fish"
        exited false
        is_held false
        pane_x 0
        pane_content_x 1
        pane_y 1
        pane_content_y 2
        pane_rows 60
        pane_content_rows 58
        pane_columns 127
        pane_content_columns 125
        cursor_coordinates_in_pane 6 2
        is_selectable true
        tab_position 1
    }
    pane {
        id 2
        is_plugin true
        is_focused false
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "zellij:tab-bar"
        exited false
        is_held false
        pane_x 0
        pane_content_x 0
        pane_y 0
        pane_content_y 0
        pane_rows 1
        pane_content_rows 1
        pane_columns 127
        pane_content_columns 127
        plugin_url "zellij:tab-bar"
        is_selectable false
        tab_position 1
    }
    pane {
        id 3
        is_plugin true
        is_focused false
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "zellij:status-bar"
        exited false
        is_held false
        pane_x 0
        pane_content_x 0
        pane_y 61
        pane_content_y 61
        pane_rows 1
        pane_content_rows 1
        pane_columns 127
        pane_content_columns 127
        plugin_url "zellij:status-bar"
        is_selectable false
        tab_position 1
    }
    pane {
        id 2
        is_plugin false
        is_focused true
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "~/Documents/Politex/projects/OS/lab1 - fish"
        exited false
        is_held false
        pane_x 0
        pane_content_x 1
        pane_y 1
        pane_content_y 2
        pane_rows 60
        pane_content_rows 58
        pane_columns 127
        pane_content_columns 125
        cursor_coordinates_in_pane 6 2
        is_selectable true
        tab_position 2
    }
    pane {
        id 4
        is_plugin true
        is_focused false
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "zellij:tab-bar"
        exited false
        is_held false
        pane_x 0
        pane_content_x 0
        pane_y 0
        pane_content_y 0
        pane_rows 1
        pane_content_rows 1
        pane_columns 127
        pane_content_columns 127
        plugin_url "zellij:tab-bar"
        is_selectable false
        tab_position 2
    }
    pane {
        id 5
        is_plugin true
        is_focused false
        is_fullscreen false
        is_floating false
        is_suppressed false
        title "zellij:status-bar"
        exited false
        is_held false
        pane_x 0
        pane_content_x 0
        pane_y 61
        pane_content_y 61
        pane_rows 1
        pane_content_rows 1
        pane_columns 127
        pane_content_columns 127
        plugin_url "zellij:status-bar"
        is_selectable false
        tab_position 2
    }
}
connected_clients 0
web_clients_allowed false
web_client_count 0
available_layouts {
    default source="built-in"
    classic source="built-in"
    compact source="built-in"
    disable-status-bar source="built-in"
    strider source="built-in"
}
tab_history {
}
